
.metadata/.plugins/com.st.stm32cube.ide.mcu.informationcenter/2.1.0.202202250925
.metadata/.plugins/org.eclipse.cdt.core/.log
.metadata/.plugins/org.eclipse.cdt.make.core/specs.c
.metadata/.plugins/org.eclipse.cdt.make.core/specs.cpp
.metadata/.plugins/org.eclipse.cdt.make.ui/dialog_settings.xml
.metadata/.plugins/org.eclipse.core.resources/.root/.indexes/history.version
.metadata/.plugins/org.eclipse.core.resources/.root/.indexes/properties.version
.metadata/.plugins/org.eclipse.core.resources/.root/1.tree
.metadata/.plugins/org.eclipse.core.resources/.safetable/org.eclipse.core.resources
.metadata/.plugins/org.eclipse.core.runtime/.settings/com.st.stm32cube.ide.mcu.ide.oss.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.cdt.debug.core.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.cdt.ui.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.core.resources.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.debug.core.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.debug.ui.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.ui.ide.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.ui.navigator.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.ui.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.ui.workbench.prefs
.metadata/.plugins/org.eclipse.e4.workbench/workbench.xmi
.metadata/.plugins/org.eclipse.ui.ide/dialog_settings.xml
.metadata/.plugins/org.eclipse.ui.workbench/workingsets.xml
.metadata/.ide.log
.metadata/.lock
.metadata/.log
.metadata/.log4j.xml
.metadata/version.ini
host/img.jpg
host/new.jpg
host/vis.jpg
host/vis.jpg(1)
host/vis1.jpeg
host/vis1.jpeg(1)
host/visnew.jpg
Debug/Core/Src/subdir.mk
Debug/Core/Src/subdir.mk
Debug/Core/Src/uart_command_handler.d
Debug/Core/Src/uart_command_handler.o
Debug/Core/Src/uart_command_handler.su
Debug/ex2_Iris_MCU_Software.bin
Debug/ex2_Iris_MCU_Software.elf
Debug/ex2_Iris_MCU_Software.list
Debug/ex2_Iris_MCU_Software.map
Debug/objects.list
**/Debug

Debug/Core/Src/stm32l0xx_it.o
Debug/Core/Src/stm32l0xx_hal_msp.o
Debug/Core/Src/nand_m79a.su
Debug/Core/Src/nand_m79a.o
Debug/Core/Src/main.su
Debug/Core/Src/main.o
Debug/Core/Src/main.d
Debug/Core/Src/ina209.su
Debug/Core/Src/ina209.o
Debug/Core/Src/housekeeping.o
Debug/Core/Src/command_handler.su
Debug/Core/Src/command_handler.o
Debug/Core/Src/command_handler.d
Debug/Core/Src/SPI_IT.o
Debug/Core/Src/IEB_TESTS.su
Debug/Core/Src/I2C.o
Debug/Core/Src/IEB_TESTS.d
Debug/Core/Src/IEB_TESTS.o
host/img.jpg(1)
*.jpg
*.jpg***
